<div appTorrentItemContext class="itemContainer" [ngClass]="{ selected: item.selected }" (click)="handleSelect($event)">
  <div class="item">
    <ng-container [ngSwitch]="item.state">
      <mat-icon class="statusIcon" [style]="'color: rgb(var(--color1)'" *ngSwitchCase="'pausedUP'">done</mat-icon>
      <mat-icon class="statusIcon" [style]="'color: rgb(var(--color1)'" *ngSwitchCase="'uploading'">north</mat-icon>
      <mat-icon class="statusIcon" [style]="'color: rgb(var(--color2)'" *ngSwitchCase="'stalledUP'">north</mat-icon>
      <mat-icon class="statusIcon" *ngSwitchCase="'queuedUP'">north</mat-icon>
      <mat-icon class="statusIcon" [style]="'color: rgb(var(--color1)'" *ngSwitchCase="'downloading'">south</mat-icon>
      <mat-icon class="statusIcon" [style]="'color: rgb(var(--color1)'" *ngSwitchCase="'forcedDL'">south</mat-icon>
      <mat-icon class="statusIcon" [style]="'color: rgb(var(--color2)'" *ngSwitchCase="'stalledDL'">south</mat-icon>
      <mat-icon class="statusIcon" [style]="'color: rgb(var(--color2)'" *ngSwitchCase="'pausedDL'">pause</mat-icon>
      <mat-icon class="statusIcon" *ngSwitchCase="'queuedDL'">south</mat-icon>
      <mat-icon class="statusIcon" [style]="'color: rgb(var(--color1)'" *ngSwitchCase="'forcedUP'">north</mat-icon>
      <mat-icon class="statusIcon" *ngSwitchDefault>track_changes</mat-icon>
    </ng-container>

    <div class="col">
      <div class="row">
        <div class="name">
          <div>
            {{ item.name }}
          </div>
        </div>
        <div class="speed">
          <div class="download">
            <mat-icon>south</mat-icon>
            <div [innerHtml]="item.dlspeed | convertUnit: true"></div>
          </div>
          <div class="upload">
            <mat-icon>north</mat-icon>
            <div [innerHtml]="item.upspeed | convertUnit: true"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="row flexMax" title="Downloaded">
          <mat-icon>south</mat-icon>
          <div class="text" [innerHtml]="item.downloaded | convertUnit"></div>
        </div>
        <div class="row flexMax margin" title="Remaining">
          <mat-icon>downloading</mat-icon>
          <div class="text" [innerHtml]="item.amount_left | convertUnit"></div>
        </div>
        <div class="row flexMax margin" title="Size">
          <mat-icon>donut_large</mat-icon>
          <div class="text" [innerHtml]="item.size | convertUnit"></div>
        </div>
        <div class="row flexMax margin" title="Uploaded">
          <mat-icon>north</mat-icon>
          <div class="text" [innerHtml]="item.uploaded | convertUnit"></div>
        </div>
        <div class="row flexMax margin" title="Ratio">
          <mat-icon>incomplete_circle</mat-icon>
          <div class="text">{{ item.ratio | number: "1.2-2" }}</div>
        </div>
        <div class="row flexMax margin" title="Seed">
          <mat-icon>settings_input_antenna</mat-icon>
          <div class="text">{{ item.num_seeds }} ({{ item.num_complete }})</div>
        </div>
        <div class="row flexMax" title="Peer">
          <mat-icon>connect_without_contact</mat-icon>
          <div class="text">
            {{ item.num_leechs }} ({{ item.num_incomplete }})
          </div>
        </div>
      </div>
      <div class="row">
        <app-progress-bar [percent]="item.progress * 100"></app-progress-bar>
      </div>
    </div>
  </div>
</div>
