<div class="pageContainer">
  <div class="filterPanel">
    <div class="speedContainer">
      <div class="download">
        <mat-icon>south</mat-icon>
        <div class="transferContainer">
          <div class="speed" [innerHtml]="server_state.dl_info_speed|convertUnit:true"></div>
          <div class="transferred" [innerHtml]="server_state.dl_info_data|convertUnit"></div>
        </div>
      </div>
      <div class="upload">
        <mat-icon>north</mat-icon>
        <div class="transfer">
          <div class="speed" [innerHtml]="server_state.up_info_speed|convertUnit:true"></div>
          <div class="transferred" [innerHtml]="server_state.up_info_data|convertUnit"></div>
        </div>
      </div>
    </div>
    <div class="chartContainer">
      <apx-chart #chart [annotations]="chartOptions.annotations" [grid]="chartOptions.grid"
        [tooltip]="chartOptions.tooltip" [dataLabels]="chartOptions.dataLabels" [stroke]="chartOptions.stroke"
        [fill]="chartOptions.fill" [series]="chartOptions.series" [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis" [yaxis]="chartOptions.yaxis" [title]="chartOptions.title"
        [legend]="chartOptions.legend">
      </apx-chart>
    </div>
    <app-collapse-menu [title]="'BY STATUS'">
      <app-menu-item (click)="handleStatusSelect('all')" [selected]="selectedStatus == 'all'" [icon]="'select_all'"
        [text]="'All'">{{torrents.length}}
      </app-menu-item>
      <app-menu-item (click)="handleStatusSelect('downloading')" [selected]="selectedStatus == 'downloading'"
        [icon]="'downloading'" [text]="'Downloading'">
        {{torrents.status['downloading'].length}}</app-menu-item>
      <app-menu-item (click)="handleStatusSelect('complete')" [selected]="selectedStatus == 'complete'"
        [icon]="'done_all'" [text]="'Complete'">
        {{torrents.status['complete'].length}}</app-menu-item>
      <app-menu-item (click)="handleStatusSelect('stopped')" [selected]="selectedStatus == 'stopped'" [icon]="'stop'"
        [text]="'Stopped'">
        {{torrents.status['stopped'].length}}</app-menu-item>
      <app-menu-item (click)="handleStatusSelect('active')" [selected]="selectedStatus == 'active'"
        [icon]="'import_export'" [text]="'Active'">
        {{torrents.status['active'].length}}</app-menu-item>
      <app-menu-item (click)="handleStatusSelect('inactive')" [selected]="selectedStatus == 'inactive'"
        [icon]="'mobiledata_off'" [text]="'Inactive'">
        {{torrents.status['inactive'].length}}</app-menu-item>
    </app-collapse-menu>
    <app-collapse-menu [title]="'BY TAG'">
      <app-menu-item (click)="handleTagSelect('all')" [selected]="selectedTag == 'all'" [text]="'All'">
        {{torrents.length}}</app-menu-item>
      <app-menu-item *ngFor="let item of torrents.tag" (click)="handleTagSelect(item)" [selected]="selectedTag == item"
        [text]="item">

      </app-menu-item>
    </app-collapse-menu>
    <app-collapse-menu [title]="'BY TRACKER'">
      <app-menu-item (click)="handleTrackerSelect('all')" [selected]="selectedTracker == 'all'" [text]="'All'">
        {{torrents.length}}</app-menu-item>
      <app-menu-item *ngFor="let item of torrents.tracker|keyvalue" (click)="handleTrackerSelect(item.key)"
        [selected]="selectedTracker == item.key" [text]="item.key">
        {{item.value.length}}
      </app-menu-item>
    </app-collapse-menu>
  </div>
  <div class="downloadPanel">
  </div>
</div>