<div class="contextContainer" @animateContext>
  <div class="item">
    <mat-icon>pause</mat-icon>
    <div class="text">Pause</div>
  </div>
  <div class="item">
    <mat-icon>pause</mat-icon>
    <div class="text">Force Resume</div>
  </div>
  <div class="line"></div>
  <div class="item">
    <mat-icon>pause</mat-icon>
    <div class="text">Delete</div>
  </div>
  <div class="line"></div>
  <div class="item">
    <mat-icon>pause</mat-icon>
    <div class="text">Set location...</div>
  </div>
  <div class="item">
    <mat-icon>pause</mat-icon>
    <div class="text">Rename...</div>
  </div>
  <div class="item">
    <mat-icon>pause</mat-icon>
    <div class="text">Category</div>
  </div>
  <div class="item">
    <mat-icon>pause</mat-icon>
    <div class="text">Tags</div>
  </div>
  <div class="item">
    <mat-icon>pause</mat-icon>
    <div class="text">Automatic Torrent Management</div>
  </div>
  <div class="line"></div>
  <div class="item">
    <mat-icon>pause</mat-icon>
    <div class="text">Limit upload rate...</div>
  </div>
  <div class="item">
    <mat-icon>pause</mat-icon>
    <div class="text">Limit download rate...</div>
  </div>
  <div class="item">
    <mat-icon>pause</mat-icon>
    <div class="text">Super seeding mode</div>
  </div>
  <div class="line"></div>
  <div class="item">
    <mat-icon>pause</mat-icon>
    <div class="text">Force recheck</div>
  </div>
  <div class="item">
    <mat-icon>pause</mat-icon>
    <div class="text">Force reannounce</div>
  </div>
  <div class="item">
    <mat-icon>pause</mat-icon>
    <div class="text">Copy</div>
  </div>
</div>
