<div class="pageContainer">
  <form [formGroup]="formGroup" (ngSubmit)="handleSubmit()" class="loginContainer">
    <div class="errorMsg" *ngIf="errorMsg" @error>{{errorMsg}}</div>
    <div class="logo"></div>
    <div class="body">
      <div class="row">
        <label for="username">
          <mat-icon>person</mat-icon>
        </label>
        <input id="username" formControlName="username" type="text" autocomplete="username">
      </div>
      <div class="row">
        <label for="password">
          <mat-icon>lock</mat-icon>
        </label>
        <input id="password" formControlName="password" type="password">
      </div>
    </div>
    <button type="submit">Login</button>
  </form>
</div>